[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EpiILM"]
	path = EpiILM
	url = https://github.com/waleedalmutiry/epiilm
[submodule "EpiILMCT"]
	path = EpiILMCT
	url = https://github.com/waleedalmutiry/epiilmct
